@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

@import "tailwindcss";

@theme {
    --color-strong-cyan: hsl(171, 66%, 44%);
    --color-light-blue: hsl(233, 100%, 69%);

    --color-dark-grayish-blue: hsl(210, 10%, 33%);
    --color-grayish-blue: hsl(201, 11%, 66%);
}

:root {
    --color-strong-cyan: hsl(171, 66%, 44%);
    --color-light-blue: hsl(233, 100%, 69%);

    --color-dark-grayish-blue: hsl(210, 10%, 33%);
    --color-grayish-blue: hsl(201, 11%, 66%);

    --font-bai: "Bai Jamjuree", sans-serif;
}

@layer components {
    .btn {
        @apply rounded-full py-3 md:px-10 text-center text-white font-bold transition-colors duration-200
    }

    .description {
        @apply text-grayish-blue text-center text-[16px] lg:w-[43%]
    }
}

@layer base {
    h2 {
        @apply text-2xl font-bold text-dark-grayish-blue text-center mb-4 lg:text-3xl
    }

    h3 {
        @apply text-xl font-bold text-dark-grayish-blue
    }
}

body {
    font-size: 18px;
    font-family:var(--font-bai) ;
}