@import "tailwindcss";

@font-face {
  font-family: "Poppins-italic";
  src: url('/fonts/Poppins-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins-bold";
  src: url('/fonts/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins-extraBold-italic";
  src: url('/fonts/Poppins-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@theme {

  --color-purple: hsl(259, 100%, 65%);
  --color-light-red: hsl(0, 100%, 67%);

  --color-off-white: hsl(0, 0%, 94%);
  --color-light-grey: hsl(0, 0%, 86%);
  --color-smokey-grey: hsl(0, 1%, 44%);
  --color-off-black: hsl(0, 0%, 8%);

  --font-bold: "Poppins-bold";
  --font-italic: "Poppins-italic";
  --font-extraBold-italic: "Poppins-extraBold-italic";

}

:root {

  --color-purple: hsl(259, 100%, 65%);
  --color-light-red: hsl(0, 100%, 67%);

  --color-off-white: hsl(0, 0%, 94%);
  --color-light-grey: hsl(0, 0%, 86%);
  --color-smokey-grey: hsl(0, 1%, 44%);
  --color-off-black: hsl(0, 0%, 8%);

  --font-bold: "Poppins-bold";
  --font-italic: "Poppins-italic";
  --font-extraBold-italic: "Poppins-extraBold-italic";

}

body {
  height: 100vh;
  background-color: var(--color-off-white);
}

@media screen and (width >= 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}